html 
    head 
        title= title
    body
        h1= message
        br
        br
        form(action="/submit" method="post")
            // Dropdown
            label(for="dropdown") Alege categoria:
            select#dropdown(name="dropdown")
                option(value="Venit") Venit
                option(value="Cheltuieli") Cheltuieli
            br
            br
            // Name field
            label(for="name") Nume:
            select#dropdown(name="name")
                option(value="Paula") Paula
                option(value="Dudu") Dudu
            br
            br
            // Number field input
            label(for="number") Suma:
            input#number(type="number" name="number" required)
            span  RON
            br
            br
            div Este esential?
            label(for="option1")
              input#option1(type="radio" name="isMandatory" value="Da")
              | Da
            br
            label(for="option2")
              input#option2(type="radio" name="isMandatory" value="Nu")
              | Nu
            br
            br
            div Este investitie?
            label(for="option1")
              input#option1(type="radio" name="isInvestment" value="Da")
              | Da
            br
            label(for="option2")
              input#option2(type="radio" name="isInvestment" value="Nu")
              | Nu
            br
            br
            label(for="investmentReturn") ROI:
            input#number(type="number" name="investmentReturn", min="0", max="100", default="0")
            span  %
            br
            br
            // Submit button
            button(type="submit") Adauga
        br
        br
        table 
            tr 
                th Nume 
                th Tip
                th Suma
                th Este esential
                th Este investitie
                th Randament estimat
            each val in tableValues
                tr
                    td= val.name
                    td= val.type
                    td= val.ammount
                    td= val.is_mandatory
                    td= val.is_investment
                    td= val.investment_return_percentage
